@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");
@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
@tailwind utilities;
/* Stop purging. */

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700;
}

:root {
  font-size: 14px;

  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #30363D;
  --color-primary-700: #151A21;
  --color-primary-800: #0D1117;
  --color-primary-900: #010409;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(77, 253, 118, 0.3);
  --color-accent: #09e47a;
  --color-accent-hover: #68fd8b;
  --color-accent-disabled: #bff5d0;
  --screen-height-reduction: 0px;
  --color-primary-100-translucent: rgba(222, 227, 234, 0.15);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

p.small {
  font-size: 0.85rem;
}

/* firefox scroll-bar config */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-700) rgba(0, 0, 0, 0);
}

/* scroll-bar config */
::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-700);
  border-radius: 5px;
}


html,
body,
#__next {
  height: 100%;
  width: 100%;
  display: flex;
}

::-webkit-resizer {
  background: var(--color-primary-700);
}

button:focus {
  outline: none;
}